body {
  margin:0;
  padding:0;
}

.container {
  width: 80%;
  max-width:950px;
  margin: 0 auto;
}

.split-left {
  width:49%;
  float:left;
  margin-left:0;
  padding-left:0;
  border-left:0;

}

.split-right {
  width:49%;
  float:right;
  margin-right:0;
  padding-right:0;
  border-right:0;
}
